# Supabase Database Credentials
DB_URL=jdbc:postgresql://db.xbhkyjgjunfzcxgnobss.supabase.co:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=UYKTSd$dc5Pe8/Q

# Supabase Keys (Frontend)
VITE_SUPABASE_URL=https://xbhkyjgjunfzcxgnobss.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_eC8lFkQeVKn2ImURjE0VaA_02reEwbS

# Frontend Configuration
VITE_API_BASE_URL=http://localhost:8086

# JWT Configuration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
